* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to bottom, #73909b, #E0F7FA);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picap {
    position: absolute;
    width: 200px;
    transform: scaleX(-1);
    left: -100px;
    top: 50%;
    animation: drive 3s ease-in-out forwards;
}

@keyframes drive {
    0% {
        left: -100px;
    }
    100% {
        left: calc(100% - 100px - 150px)
    }
}
